
#navbar{
    height: 50px;
    margin: auto;
    width: 90%;
    color: gray;
    background-color: cyan;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#navbar button{
    height: 50px;
    color:darkmagenta;
    text-decoration: none;
    border: none;
    border-left: 2px solid rgb(0, 187, 187);
    border-right: 2px solid rgb(0, 187, 187);
    background-color: rgba(0, 0, 0, 0);
}

#navbar button:hover{
    background-color: rgb(1, 150, 150);
}

canvas{
    border: 2px solid black;
    width: 70%;
    background-color: white;
    display: block;
    margin: 30px auto;
    position: relative;
}

.ejercicio{
    background-color: cyan;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.container{
    overflow: hidden;
    height: 550px;
    width: 90%;
    background-color: cyan;
    margin: auto;
    margin-top: 20px;
    border-radius:10px;
}

.hidden{
    display: none;
}

.slidecontainer label{
    vertical-align: 30%;
}

.slidecontainer{
    display: block;
    width: auto;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h4{
    width: fit-content;
    margin: 0 auto;
}

.ejercicio > form > div{
    margin-bottom: 5px;
}

.ejercicio > form{
    overflow: hidden;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

@media only screen and (max-width:480px){
    .flexbox{
        flex-direction: column;
    }
}